[Unit]
Description=Check for a new ColorContrast static release

[Timer]
OnBootSec=1m
OnUnitActiveSec=1m
RandomizedDelaySec=10s
Persistent=true

[Install]
WantedBy=timers.target
